<div class="welcome-index-1">
   <div class="row">
     <div class="col-md-12 text-center">
       <h3 class="title">遇见更好的机会，体验更精彩的人生。</h3>
       <div class="short-line">
       </div>
       <p class="slogan">18K Offer由知名连续创业者Stan Lee创立。
       <br>我们利用硅谷最新演算法，分析全球一流团队需求，及卓越求职者的信息，创
       <br>立独一无二的配对模式，让优秀企业与人才的连结更为精准，快速。
        </p>
       <img class="img-card" src="https://i.imgur.com/2Q6C5SI.png">
     </div>
   </div>
</div>
