<div class="welcome-index-4">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="title">合作伙伴</h3>
      <div class="short-line-2">
      </div>
       <div class="list">
         <img class="logo" src="https://i.imgur.com/zuwcDGX.png">
         <img class="logo" src='https://i.imgur.com/sMXdzna.png'>
         <img class="logo" src='https://i.imgur.com/tVN1DnH.png'>
         <img class="logo" src='https://i.imgur.com/PRnCFEg.jpg'>

       </div>
    </div>

  </div>

</div>
