<div class="welcome-index-2">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 clas="title">服务优势</h3>
      <div class="row text-center">
      <div class="short-line-2">
      </div>
      </div>
      <div class="col-md-4">
        <div class="box-2">
          <img class="img-2" src="https://i.imgur.com/Z7fqlEA.png">
          <div class="card-2">
            <h3 class="title">优质职缺</h3>
            <p class="slogan">只有你有实力，加入一流团队不是梦想。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-2">
          <img class="img-2" src="https://i.imgur.com/ocfqHwj.png">
          <div class="card-2">
            <h3 class="title">快速反馈</h3>
            <p class="slogan">我们拥有业界最快速的反馈机制，求职应聘不再干着急。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-2">
            <img class="img-2" src="https://i.imgur.com/aYc3lf0.png">
            <div class="card-2">
              <h3 class="title">美观简历</h3>
              <p class="slogan">我们提供最科学的模版，让你的优势一览无遗。</p>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
