<div class="welcome-index-3">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="title">热门职缺</h3>
      <div class="row text-center">
       <div class="short-line-2">
       </div>
       </div>
        <div class="col-md-3">
          <div class="box-3">
            <img class="img-3" src="https://i.imgur.com/HM3YsXm.png">
            <div class="card-3">
              技术
              <br>
              Technology
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box-3">
            <img class="img-3" src="https://i.imgur.com/VLbLciE.png">
            <div class="card-3">
              产品
              <br>
              Product
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box-3">
            <img class="img-3" src="https://i.imgur.com/qCiquR0.png">
            <div class="card-3">
              设计
              <br>
              Design
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box-3">
            <img class="img-3" src="https://i.imgur.com/nRl7Wlv.png">
            <div class="card-3">
              运营
              <br>
              Operation
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
