// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.resume-box {
  margin: -150px 0 150px 300px;

  h3 {
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    font-size: 25px;
    text-align: center;
  }
}

.resume-box-2 {
  margin-left: 18px;
}

.resume-box-3-bot {
  margin-bottom: 80px;
}
