<footer class="foot">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-2 col-sm-4">
            <h5>工作机会</h5>
            <ul class="list">
              <li><a href="#">求职专区</a></li>
              <li><a href="#">海外工作</a></li>
              <li><a href="#">兼职外包</a></li>
            </ul>
            </div>
            <div class="col-md-2 col-sm-4">
              <h5>企业资源</h5>
              <ul class="list">
                <li><a href="#">线下培训</a></li>
                <li><a href="#">联合招聘</a></li>
                <li><a href="#">价值服务</a></li>
              </ul>
              </div>
              <div class="col-md-2 col-sm-4">
                <h5>关于我们</h5>
                <ul class="list">
                  <li><a href="#">公司介绍</a></li>
                  <li><a href="#">常见问题</a></li>
                  <li><a href="#">联系我们</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-xs-12 footer-box">
                <br>
                <br>
                <div class="footer-content">
                <p>
                  <img src="https://i.imgur.com/UcMfD7e.png" class="footer-img">: 12344321
                  <img src="https://i.imgur.com/jfgKVTw.png" class="footer-img">: 12344321
                  <br>
                  https://www.12344321.com
                </p>
              </div>
              </div>
              <div class="footer-end">
                <div class="container-fluid">
                  <div class="row text-center">
                    <div class="short-line-3">
                    </div>
                  </div>
                  <p>Copyright ©2019 Ruby on Rails | Design by <a href="https://www.jianshu.com/u/85ea98b93c26">Zee</a>
                     </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
